<%- include('../partial/header') %>
<%- include('../partial/nav') %>
<%- include('../partial/borders') %>
<%- include('../partial/audio') %>


<main class="start-background" id="startMain">


  <section id="startContent">
  <h1>Step closer, child of fate!</h1>

  <img class="start-img" src="/images/gypsyIllustration/gypsy-app.png"
       alt="Gypsy woman with open arms, wearing makeup and a fantasy dress">

    <button class="button hero-button"
            type="button"
            id="startBtn">
      Start
    </button>
  </section>
   <section id="ringLoader" class="fire-loader" hidden>
    <div class="fire-loader-panel">
      <div class="circle"></div>
      <h2 class="loading-title">Loading...</h2>
     <svg>
    <filter id="wavy">
      <feTurbulence
        x="0"
        y="0"
        baseFrequency="0.009"
        numOctaves="5"
        seed="2">

        <animate
          attributeName="baseFrequency"
          dur="60s"
          values="0.02;0.005;0.02"
          repeatCount="indefinite" />

      </feTurbulence>

      <feDisplacementMap
        in="SourceGraphic"
        scale="30" />
    </filter>
  </svg>
</div>
    </section>
</main>

<script src="/js/start-page.js"></script>


<% include('../partial/footer')%>