<%- include('../partial/header') %>
<%- include('../partial/nav') %>
<%- include('../partial/borders') %>
<div class="image-wrapper finish">
<img class="start-img finish" src="/images/gypsyIllustration/gypsy-finish.png" alt="Gypsy woman ">
</div>
<main>
    <main class="start-background finish">
        <h1>Thank you!</h1>
</main>
<%- include('../partial/footer')%>
