<%- include('../partial/header') %>
<%- include('../partial/nav')%>
<h1>Press Here to Start</h1>
<button type="start" onclick="start" >Click Here to Start</button>
<script>
    
</script>
<%- include('../partial/footer')%>