
<%- include('../partial/header') %>

<body>
        <h2>Logged out</h2>
        <%- include('../partial/nav') %>
        <%- include('../partial/borders') %>
        <%- include('../partial/footer') %>
</body>