<%- include('../partial/header') %>

<body>
         <h2>Not logged in</h2>
          <p>Please register or login</p>
    
        <%- include('../partials/nav') %>

</body>

    <%- include('../partial/footer') %>