<%- include('../partial/header') %>
<%- include('../partial/nav') %>
<%- include('../partial/borders') %>

<main class="camera-background">

<h1 class="cameraTitle">Take a picture of your hand</h1>



<div class="camera-wrapper">
  <video id="webcam" class="camera-video" autoplay playsinline></video>
  <canvas id="canvas" style="display:none"></canvas>
  <button class="button hero-button camera-button" id="snap">Capture</button>


</div>
</main>

<script src="/js/webcam-easy.min.js"></script>


<script>
  const webcamElement = document.getElementById('webcam');
  const canvasElement = document.getElementById('canvas');
  const webcam = new Webcam(webcamElement, 'user', canvasElement);

  const snapBtn = document.getElementById('snap');
  let capturing = false;
  snapBtn.disabled = true;

  webcam.start()
    .then(() => {
      console.log("Webcam Started");
      snapBtn.disabled = false;
    })
    .catch(err => console.error(err));

  document.getElementById('snap').addEventListener('click', async () => {
    if (capturing) return;
    capturing = true;

    try {
      const picture = webcam.snap();

      const res = await fetch('/reading/capture', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ image: picture })
      });

      const data = await res.json();
      console.log("Backend response", data);

      if (data.success) {
       window.location.href = '/reading';
      } else {
        console.log("No success flag:", data);
      }
    } catch (err) {
      console.error("Capture error:", err);
    } finally {
      // Camera wasn't working, and I had to add ChatGBT new line of code to help solve the problem and changed the camera path. 
      capturing = false;
    }
  });
</script>


<%- include('../partial/footer') %>
