<%- include('../partial/header') %>

  <%- include('../partial/borders') %>

<main class="camera-background topic-bck">
  <h1 class="topicTitle"> Your Luck:</h1>
  <p>Come closer, little soul. Your palm speaks softly… listen to the path destiny has traced for you.</p>

  <div class="topic-btn-group" id="topic-buttons">
    <button type="button" class="button hero-button topic-btn" onclick="sendTopic('love')">Love</button>
    <button type="button" class="button hero-button topic-btn" onclick="sendTopic('career')">Career</button>
    <button type="button" class="button hero-button topic-btn" onclick="sendTopic('health')">Health</button>
  </div>

  <div class="topic-pick-frame">
    <p id="topic-pick"></p>
  </div>
  <button
    id="next-button"
    type="button"
    class="button hero-button topic-btn"
    style="display:none;"
    onclick="window.location.href='/chatbot'"
  >
    Next
  </button>
</main>

<script>
  let topicChosen = false;

  function sendTopic(topic) {
    // Stop multiple selections
    if (topicChosen) return;

    topicChosen = true;

    document.getElementById('topic-buttons').style.display = 'none';


    fetch('/reading', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ topic })
    })
      .then(res => res.json())
      .then(data => {
        console.log("Backend response:", data);

        const display = document.getElementById('topic-pick');

        if (data.message) {
          // Show reading
          display.innerText = data.message;

          // Show next button
         document.getElementById('next-button').style.display = 'inline-block';
        } else {
        display.innerText = data.error || "Unexpected error";

          // Re-enable buttons so user can choose again
        topicChosen = false;
        document.getElementById('topic-buttons').style.display = 'flex';
        }
      });
     
  }
</script>
<%- include('../partial/footer') %>
