<%- include('../partial/header') %>

<h1>Select a Topic</h1>
<button type="button" onclick="sendTopic('love')">Love</button>
<button type="button" onclick="sendTopic('career')">Career</button>
<button type="button" onclick="sendTopic('health')">Health</button>

<p id="topic-pick"></p>

<script>
  function sendTopic(topic) {
    fetch('/reading', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ topic })
    })
      .then(res => res.json())
      .then(data => {
        console.log('Backend /reading response:', data);
        document.getElementById('topic-pick').innerText =
          data.message || data.error || 'No message returned';
      })
      .catch(err => console.error('fetch error /reading:', err));
  }
</script>


<%- include('../partial/footer') %>
