<%- include('../partial/header') %>
<%- include('../partial/nav') %>
<%- include('../partial/borders') %>

    <section class="register-illustration">
        <img src="/images/gypsyIllustration/gypsy-register.png" alt="Gypsy reading a palm reading">
    </section>

<main id="loginBox">
     <form class="neon-form" action="/register" method="POST">
        <label>Username</label>
        <input type="text" id="username" name="username"><br>
        <label>Password</label>
        <input type="text" id="password" name="password"><br>
        <label>First Name</label>
        <input type="text" id="firstname" name="firstname"><br>
        <label>Last Name</label>
        <input type="text" id="lastname" name="lastname"><br>
        <input class="button-res" type="submit" value="Register">
    </form>
    
</main>


 <%- include('../partial/footer') %>