<%- include('../partial/header') %>
<%- include('../partial/nav') %>
<%- include('../partial/borders') %>
<div class="image-wrapper finish">
<img class="start-img logged"src="/images/gypsyIllustration/gypsy-loggedout.png"   alt="Gypsy woman ">
</div>

<main>
    <main class="start-background logged ">
        <h1>Registration Failed, please try again..</h1>
</main>
<%- include('../partial/footer')%>