<%- include('../partial/header') %>
<body>
   <h2>Registration failed</h2>
           <%- include('../partial/nav') %>
           <%- include('../partial/borders') %>
    
</body>
 <%- include('../partial/footer') %>