<div class="border-top"></div>
<div class="border-bottom"></div>
<div class="border-left"></div>
<div class="border-right"></div>

<div class="sparkles">
  <span></span><span></span><span></span><span></span><span></span>
  <span></span><span></span><span></span><span></span><span></span>
</div>

