<%- include('../partial/header') %>
<div class="mainLoaderContainer">
  <span class="loaderSpan span1"></span>
  <span class="loaderSpan span2"></span>
  <span class="loaderSpan span3"></span>
  <span class="loaderSpan span4"></span>
  <span class="loaderSpan span5"></span>
  <span class="loaderSpan span6"></span>
  <span class="loaderSpan span7"></span>
  <span class="loaderSpan span8"></span>
  <span class="loaderSpan span9"></span>
</div>

<%- include('../partial/footer') %>
