<nav>
  <a href="reading_start">Home</a>
 <%if(!isLoggedIn){%>
    <a href="login">Login</a>
    <a href="register">Register</a>
    <%} else {%>
    <a href="logout">Logout</a>
    <a href="app">Application</a>
    <a href="profile">Profile</a>
    <a href="Admin">Admin Page Only</a>
    <a href="fortune_history">Fortune History</a>
    <a href="palm_reader">Palm Reader</a>
    <a href="speak_romani">Speack to a Romani</a>
    <%} %>
     
</nav>